<section class="page">
  <div class="admin-head">
    <div>
      <small class="crumb">CLIENTES</small>
      <h1 class="title">Clientes</h1>
    </div>
  </div>

  <header class="toolbar">
    <app-filter-bar
      class="toolbar__left"
      [placeholder]="'Buscar cliente'"
      [(textSearch)]="searchQuery"
      (searchChange)="onSearch($event)">
    </app-filter-bar>

    <div class="toolbar__right">
      <app-button (clicked)="createCustomer()">Cadastrar cliente</app-button>
    </div>
  </header>

  <app-data-table-outline
    [columns]="columns"
    [data]="filteredCustomers"
    [rowActions]="rowActions"
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (pageChange)="onPage($event)">
  </app-data-table-outline>
</section>

<app-delete-confirm
  [open]="deleteOpen"
  [loading]="deleting"
  (close)="closeDelete()"
  (confirm)="confirmDelete()">
</app-delete-confirm>
