<aside class="sidebar top">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }">
      <iconify-icon icon="mdi:monitor-dashboard" width="24" height="24"></iconify-icon>
      <span>DASHBOARD</span>
    </a>

    <a routerLink="/customers" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }">
      <iconify-icon icon="mdi:account-group-outline" width="24" height="24"></iconify-icon>
      <span>CLIENTES</span>
    </a>

    <a routerLink="/products" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }">
      <iconify-icon icon="mdi:package-variant-closed" width="24" height="24"></iconify-icon>
      <span>PRODUTOS</span>
    </a>

    <a routerLink="/sales" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }">
      <iconify-icon icon="mdi:cart-outline" width="24" height="24"></iconify-icon>
      <span>VENDAS</span>
    </a>

    <a routerLink="/reports" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }">
      <iconify-icon icon="mdi:chart-bar" width="24" height="24"></iconify-icon>
      <span>RELATÓRIOS</span>
    </a>
  </nav>
</aside>
